<%= @user.name %>'s Dashboard

<section id= "buttons" style='margin-bottom:50px' >
  <%= render 'partials/search_button'%>
</section>

<section id="user_cards">
  <% @cards.each do |card| %>
    <div id="card_<%=card.card_id%>" >
    <% owned_card = @owned_cards.where(card_id: card.card_id).first %>
    <br>
    Name: <%= card.card_name %> <br>
    Type: <%= card.supertype %> <br>
    Set: <%= card.set_name %> <br>
    Condition: <%= owned_card.condition %> <br>
    Value: <%= card.market_value  %> <br>
    <% if owned_card.condition_image.attached? %>
      <img src="<%=(url_for(owned_card.condition_image))%>" alt="<%= card.card_name %>" style="width:100px;height:150px;" >
    <%end %>
    </div>
  <% end %>


</section>



  